Source: libimengines
Section: libs
Priority: extra
Maintainer: Jonathan Wilson <jfwfreo@tpgi.com.au>
Build-Depends: debhelper (>= 5), cdbs, libglib2.0-dev

Package: libimengines-wp4
Section: libs
Priority: extra
Architecture: any
Recommends: libimengines-plugins-western
Depends: ${shlibs:Depends}
Description: IM Engines WP Library
 Word prediction engine abstraction library

Package: libimengines-wp4-dev
Section: devel
Priority: extra
Architecture: all
Depends: libimengines-wp4 (= ${binary:Version}), pkg-config
Description: IM Engines WP Library dev package.
 Word prediction engine abstraction library development files

Package: libimengines-wp4-dbg
Section: devel
Priority: extra
Architecture: any
Depends: libimengines4-wp4 (= ${binary:Version})
Description: IM Engines WP Library dev package.
 Debug symbols for IM Engines WP Library.

Package: libimengines4
Section: libs
Priority: extra
Architecture: any
Recommends: libimengines-plugins-western
Depends: ${shlibs:Depends}
Description: IM Engines Library
 Main im-engines library

Package: libimengines4-dev
Section: devel
Priority: extra
Architecture: all
Depends: libimengines4 (= ${binary:Version}), pkg-config
Description: IM Engines Library dev package.
 Main im-engines library development files

Package: libimengines4-dbg
Section: devel
Priority: extra
Architecture: any
Depends: libimengines4 (= ${binary:Version})
Description: IM Engines Library
 Debug symbols for IM Engines Library.
